*{
	padding: 0;
	margin: 0;
}

.large-square{
	color: hsl(339, 75%, 89%);
	width: 500px;
	height: 500px;
	margin: 20px;
	position: absolute;
}

.small-square{
	color: hsl(159, 75%, 89%);
	width: 100px;
	height: 100px;
	position: relative;
	margin: 20px
}