*{
	padding: 0;
	margin: 0;
}
.pink-square{
	background-color: hsl(339, 75%, 89%);
	width: 400px;
	height: 400px;
	margin: 10px;
	position: absolute;
}
.purple-square{
	background-color: hsl(239, 72%, 89%);
	width: 300px;
	height: 300px;
	position: absolute;
	margin: 20px;
	left: 190px;
	top: 47px;
}

.blue-circle{
	background-color: hsl(159, 75%, 89%);
	width: 100px;
	height: 100px;
	position: relative;
	margin: 20px;
	left: 190px;
	top: 10px;
}
.green-circle{
	background-color: hsl(216, 73%, 89%);
	width: 100px;
	height: 100px;
	margin: 10px;
	position: absolute;
	top: 157px;
	left: 100px;
}
