*{
	padding: 0;
	margin: 0;
}
.pink-square{
	background-color: hsl(339, 75%, 89%);
	width: 200px;
	height: 400px;
	margin: 10px;
	position: absolute;
}
.purple-square{
	background-color: hsl(239, 72%, 89%);
	width: 200px;
	height: 400px;
	position: absolute;
	margin: 20px;
	left: 190px;
	top: 75px;
}

.blue-square{
	background-color: hsl(58, 73%, 89%);
	width: 100px;
	height: 100px;
	position: relative;
	margin: 20px;
	left: 190px;
	top: 10px;
}
.green-square{
	background-color: hsl(58, 73%, 89%);
	width: 100px;
	height: 100px;
	margin: 10px;
	position: absolute;
	top: 185px;
	left: 100px;
}

.orange-square{
	background-color: hsl(58, 73%, 89%);
	width: 100px;
	height: 100px;
	position: relative;
	margin: 20px;
	left: 190px;
	top: 90px;
}
.yellow-square{
	background-color: hsl(58, 73%, 89%);
	width: 100px;
	height: 100px;
	position: relative;
	margin: 20px;
	left: 90px;
	top: 70px;
}
